<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/navbar.css" />
    <title>Home</title>
  </head>
  <body>
    <%- include("./partials/navbar") %>
    <div class="all_posts">
      <h1>ALL POSTS</h1>
      <hr>
      <% allPosts.map((post)=>{ %>
      <h1 class="pt"><%= post.title %></h1>
      <p class="pm"><%= post.post_msg %></p>

      <hr />
      <br>
      <% }) %>
    </div>
  </body>
</html>
