<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/home.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="details">
      <div class="user_info">
        <span>username :<%= userDetails.username %></span>
        <span>email :<%= userDetails.email %></span>
      </div>

      <div class="options">
        <a href="/logout">Logout</a>
        <a href="/user/createpost">Create Post</a>
        <a href="/user/profile">My Profile</a>
      </div>
    </div>
  </body>
</html>
