<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/signup_login.css">
    <title>Login | Join the fun</title>
  </head>
  <body>
    <form class="formLS" action="/login" method="post">
      <Label>LOGIN</Label>
      <label for="email">Mail Id : </label>
      <input type="email" name="email" id="email" required />

      <label for="password">Password : </label>
      <input type="password" name="password" id="password" required />

      <button type="submit">Submit</button>

      <% if (locals.authenticated==false) { %>
      <p>OOPS! Something went wrong</p>
      <% } %>
      <p>No Account ? <a href="/signup">signup</a></p>
    </form>
  </body>
</html>
