<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/signup_login.css">
    <title>Sign Up | Join the fun</title>
  </head>
  <body>
    
    <form class="formLS" action="/signup" method="post">
      <Label>SIGNUP</Label>
      <label for="username">Name : </label>
      <input type="text" name="username" id="username" required />

      <label for="email">Mail Id : </label>
      <input type="email" name="email" id="email" required />

      <label for="password">Password : </label>
      <input type="password" name="password" id="password" required />

      <button type="submit">Submit</button>
      <p>Already a user? <a href="/login">Login</a></p>

      <% if (tryingToSignup) { %>
        <% if (signupSuccess) { %>
        <p>Hurray! You are Signup<a href="/login">Login</a></p>
        <% }else { %>
        <p>Email is already register</p>
        <p>Try <a href="/login">Login</a></p>
        <% }} %>
    </form>
    
  </body>
</html>
